{% extends "skeleton.jinja" %}

{% block title %}New palette{% endblock %}

{% block content %}
    <form method="POST">
        <input type="text" name="name" placeholder="Palette name" required>

        <ul class="palette__colors">
        </ul>

        <button type="button" id="addColorBtn">
            Add color <i class="fa-solid fa-plus"></i>
        </button>

        <button type="submit">Save palette</button>
    </form>

    <script>
        const button = document.getElementById("addColorBtn");
        const list = document.querySelector(".palette__colors");

        function getRandomColor() {
            return "#" + Math.floor(Math.random() * 16777215)
                .toString(16)
                .padStart(6, "0");
        }

        button.addEventListener("click", () => {
            const li = document.createElement("li");
            li.classList.add("color");

            const color = getRandomColor();

            li.textContent = color;
            li.style.setProperty("--color", color);

            const input = document.createElement("input");
            input.type = "hidden";
            input.name = "colors";
            input.value = color;

            li.appendChild(input);

            list.appendChild(li);
        });
    </script>

{% endblock %}
